input#id_otp_token,
select#id_otp_device
{
    clear: both;
    padding: 6px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
            box-sizing: border-box;
}
