[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
isort = "*"
flake8 = "*"
django = "*"
setuptools = "*"
wheel = "*"
twine = "*"
sphinx = "*"
django-otp = {editable = true,path = "."}
freezegun = "*"
coverage = "*"

[packages]

[requires]
python_version = "3.7"
